.nav-title {
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 26px;
  margin-top: 1rem;
  margin-right: auto;
}



.link:hover{
    text-decoration: none;
    color: #82D696;


}

.link:hover {
  color: #6d77ff;
}
