.nav-title {
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 26px;
  margin-top: 1rem;
  margin-right: auto;
}

.nav-link {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;




.link:hover{
    text-decoration: none;
    color: #82D696;



}

.link:hover {
  color: #6d77ff;
}
